*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
}
body{
    background: #111;
    height: 200vh;
}
/*background:#040b63*/
header{
    
    margin: 5px;
    padding: 10px;
}
.logo{
    margin-top: 5px;
    color: #fff;
    position: absolute;
    z-index: 2;
    letter-spacing: 3px;
}
.container{
    background-image: url(./pexels-evgenia-kirpichnikova-1973293.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: -30px;
    display: flex;
    height: 100vh;
    justify-content: center;
    color: #fff;
}
h2{
    margin-top:320px;
    font-size: 5rem;
    font-weight: 600;
}
.container::after{
    content: "";
    position: absolute;
    bottom: -100px;
    height: 200px;
    width: 100%;
    background:linear-gradient(to bottom,transparent,#121212 50%);
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
    width:70%;
        margin: 0 auto;
    line-height: 2rem;
    margin-top: 300px;
    bottom: -200px;
    text-align: center;
}
section h3{
    font-size: 2rem;
    margin-top: 100px;
}
section p{
    margin-top: 20px;
}
.img-container{
    display: flex;
    justify-content: space-between;
   align-items: center;

}
button{
border:1px solid #fff;    
padding: 15px;
font-weight: bold;
margin-top: 20px;
font-size: 1.2rem;
width: 20%;
border-radius: 25px;
}